
.vs/Comp_Sci_122/v17/Browse.VC.db
.vs/Comp_Sci_122/v17/Browse.VC.db-shm
.vs/Comp_Sci_122/v17/Browse.VC.opendb
.vs/Comp_Sci_122/v17/Browse.VC.db-wal
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vscode/tasks.json
Assignment 12/Assignment 12.exe
